/* Write your CSS here */

.css-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.css-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#2b2c49, #b5b9ff);
  border-radius: 10px;
  width: 600px;
  height: 400px;
  color: white;
}
